<div class="flex mb-20">
  <img width="100" height="100" [src]="myData.author.avatar_url" (click)="handleWrapClick(myData.id)" />
  <div class="flex-1 pl-20">
    <div>
      <h3 class="space-nowrap lh-1_5" style="width: 200px;" (click)="handleWrapClick(myData.id)">{{myData.title}}
      </h3>
    </div>
    <div class="lh-1_5">
      <div class="tag">{{myData.top && '置顶' || (myData.good && '精选') || tabMap.get(myData.tab)}}</div>
      {{myData.reply_count}}/{{myData.visit_count}}
    </div>
    <div class="lh-1_5">{{myData.create_at}}</div>
    <!-- <slot /> -->
    <ng-content></ng-content>

  </div>
</div>